
.mainpage{
    transform: scale(1.2, 1.2);
    position: absolute;
    top: 10%;
    left: 25%;
}
.grass{
    position: absolute;
    bottom: 35%;
    left: 32%;
    transform: scale(1.2, 1.2);

}
.flower1{
    position: absolute;
    top: 25%;
    left: 41%;
    transform: scale(1.5, 1.5);
}
.flower2{
    position: absolute;
    bottom: 62%;
    left: 45%;
    transform: scale(1.5, 1.5);
}

.flowers{
    position: absolute;
    bottom: 44%;
    left: 52%;
    transform: scale(1.2, 1.2);

}
.core{
    background-color: purple;
}
.core2{
    background-color: lightcoral;
}
.core3{
    background-color: yellow;

}
.core4{
    background-color: orange;
}

.princess{
    transform: rotate(-13deg) scale(0.7, 0.7);
    position: absolute;
    top: 4%;
    right: 28%;

}

.clouds{
    color: blue;
    position: absolute;
    left: 32%;
    top: 4%;
    transform: scale(0.8, 0.8);

}

.back{
    position: absolute;
    bottom: 41%;
    left: 30%;
    font-family: monospace;

    }

a:link{
    text-decoration: none;
    color: pink;

    }
a:visited{
    color: pink;
}
.background{
    opacity: 70%;
    position: absolute;
    top: 10%;
    left: 29%;
    width: 700px;
    height: 420px;
}
